*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}   

body{
    background: #eef8ff;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient( to right,#00093c , #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;

}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;

}
.logo{
    width: 150px;
    height: 90px;
    margin-bottom: 30px;

}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;

}

ul li a{
    text-decoration: none;
    color:#fff;
}

form{
    width: 300px;
    height: 200px;
    padding-bottom: 15px;
    display: flex;
      justify-content: center;
      align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    border-radius: 20px ;
}

form .fa-envelope{
    font-size: 30px;
    margin-right: 10px;
}

form input{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
    border-radius: 30px;
}
form input:focus{
    border: 1px solid white;
    align-items: center;
    text-align: center;
}

form button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: lightblue;
}

.social-icons .fa-brands{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    font-size: 25px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;

}
.social-icons{
    display: flex;
}
.social-icons a{
    text-decoration: none;
    align-items: center;
}
.col{
   display: flex;
   flex-direction: column;
   justify-content:center ;
   align-items: center;
}


.col4{
    display: flex;
    flex-direction: row;
   position: relative;
   bottom: 50px;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
.copy-right{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}   